venv/
.env
*.pyc
__pycache__/
.ipynb_checkpoints/
data/
sales-forecasting-platform/ml_pipeline/Model_training/logs/
sales-forecasting-platform/ml_pipeline/Model_training/mlruns/
sales-forecasting-platform/ml_pipeline/Model_training/models/
sales-forecasting-platform/ml_pipeline/Model_training/outputs/
sales-forecasting-platfor   m/Database/init_database.py